/*--------------------------------------------------------------
# Reset and Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  text-decoration: none;
  color: #000; }

a:focus, a:hover, a:active {
  outline: none; }

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
nav ul,
nav ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Oblique";
  src: url("../fonts/Helvetica-Oblique.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/TitilliumWeb-1eq2.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
.loader {
  font-size: 30px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 28px auto;
  position: relative;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease; }

.cover-img {
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1001);
  transition: 350ms ease; }

input::-ms-clear {
  display: none; }

/* Internet Explorer ruls */
@-webkit-keyframes load6 {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
.page-title {
  font-size: 50px;
  line-height: 58px;
  color: #ffffff;
  font-family: "Helvetica Bold";
  text-transform: uppercase;
  text-align: center; }
  @media screen and (max-width: 1100px) {
    .page-title {
      font-size: 40px;
      line-height: 50px; } }
  @media screen and (max-width: 860px) {
    .page-title {
      font-size: 35px;
      line-height: 46px; } }
  @media screen and (max-width: 767px) {
    .page-title {
      font-size: 28px;
      line-height: 36px; } }
  @media screen and (max-width: md) {
    .page-title {
      font-size: 28px;
      line-height: 36px; } }

.section-title {
  color: #202124;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: .4px; }
  @media screen and (max-width: 450px) {
    .section-title {
      font-size: 20px; } }

.section-content span {
  font-size: 24px;
  font-family: "Helvetica Bold";
  line-height: 34px;
  color: #ffffff;
  display: block; }
  @media screen and (max-width: 830px) {
    .section-content span {
      font-size: 21px; } }
  @media screen and (max-width: 767px) {
    .section-content span {
      font-size: 24px; } }
  @media screen and (max-width: md) {
    .section-content span {
      font-size: 24px; } }
  @media screen and (max-width: 450px) {
    .section-content span {
      font-size: 20px;
      line-height: 30px; } }

.section-content p {
  font-size: 16px;
  font-family: Helvetica;
  line-height: 26px;
  color: #ffffff; }
  @media screen and (max-width: 830px) {
    .section-content p {
      font-size: 14px;
      letter-spacing: -.4px; } }
  @media screen and (max-width: 767px) {
    .section-content p {
      font-size: 16px;
      display: inline; } }
  @media screen and (max-width: md) {
    .section-content p {
      font-size: 16px;
      display: inline; } }
  @media screen and (max-width: 450px) {
    .section-content p {
      font-size: 14px;
      letter-spacing: -0.8px;
      line-height: 21px; } }
  .section-content p .gallery__slide-box-tablet {
    display: none; }
    @media screen and (max-width: 767px) {
      .section-content p .gallery__slide-box-tablet {
        display: inline; } }
    @media screen and (max-width: md) {
      .section-content p .gallery__slide-box-tablet {
        display: inline; } }

.entry-content span {
  font-size: 16px;
  font-family: "Helvetica Bold";
  line-height: 20px;
  color: #FA6980;
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px; }

.entry-content h5 {
  font-size: 16px;
  font-family: "Helvetica Bold";
  line-height: 20px;
  color: #202124;
  margin-bottom: 15px; }
  @media screen and (max-width: 767px) {
    .entry-content h5 {
      display: none; } }
  @media screen and (max-width: md) {
    .entry-content h5 {
      display: none; } }

@media screen and (max-width: 767px) {
  .entry-content .intro__slide-box--title {
    display: block; } }

@media screen and (max-width: md) {
  .entry-content .intro__slide-box--title {
    display: block; } }

@media screen and (max-width: 460px) {
  .entry-content .intro__slide-box--title {
    font-size: 14px;
    line-height: 20px; } }

.entry-content p {
  font-size: 16px;
  font-family: "Acumin Pro";
  line-height: 26px;
  color: #A6ADB4;
  margin-bottom: 25px; }
  @media screen and (max-width: 767px) {
    .entry-content p {
      display: none; } }
  @media screen and (max-width: md) {
    .entry-content p {
      display: none; } }
  @media screen and (max-width: 550px) {
    .entry-content p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 18px; } }

.entry-content .title-tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .entry-content .title-tablet {
      display: block; } }
  @media screen and (max-width: md) {
    .entry-content .title-tablet {
      display: block; } }

.entry-content .text-tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .entry-content .text-tablet {
      display: block; } }
  @media screen and (max-width: md) {
    .entry-content .text-tablet {
      display: block; } }

.entry-content .intro__slide-box-text-sentenc {
  font-size: 13px; }
  @media screen and (max-width: 810px) {
    .entry-content .intro__slide-box-text-sentenc {
      font-size: 12px; } }
  @media screen and (max-width: 767px) {
    .entry-content .intro__slide-box-text-sentenc {
      display: none; } }
  @media screen and (max-width: md) {
    .entry-content .intro__slide-box-text-sentenc {
      display: none; } }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
  padding: 0;
  margin: 0; }

.container {
  max-width: 1160px;
  margin: auto; }
  @media screen and (max-width: 1200px) {
    .container {
      margin: 0 15px; } }
  @media screen and (max-width: 767px) {
    .container {
      margin: 0 80px; } }
  @media screen and (max-width: md) {
    .container {
      margin: 0 80px; } }
  @media screen and (max-width: 600px) {
    .container {
      margin: 0 30px; } }

/*--------------------------------------------------------------
# Parts
--------------------------------------------------------------*/
.btn {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: #72ACFF;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  min-width: 200px;
  transition: 350ms ease;
  position: relative; }
  .btn:hover {
    color: #202124;
    transition: 350ms ease; }

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 20px 10px 15px;
  background-color: #F6F8F9; }

.header__logo {
  font-family: Helvetica;
  font-size: 13px;
  color: #ff4d4d;
  text-transform: uppercase;
  line-height: 20px; }

.nav__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; }

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; }

.nav__list-item {
  padding: 0 13px; }
  @media screen and (max-width: 450px) {
    .nav__list-item {
      padding: 0 5px; } }

.nav__list-item-link {
  font-family: "Helvetica Bold";
  font-size: 11px;
  color: #A6ADB4;
  text-transform: uppercase;
  line-height: 20px; }

.nav__list-item-link--active {
  color: #202124; }

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer {
  padding: 60px 0;
  background-color: #A6ADB4; }
  @media screen and (max-width: 375px) {
    .footer {
      display: none; } }

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: start; }
  @media screen and (max-width: 767px) {
    .footer__wrap {
      flex-wrap: wrap; } }
  @media screen and (max-width: md) {
    .footer__wrap {
      flex-wrap: wrap; } }

.footer__logo {
  font-size: 13px;
  font-family: "Acumin Pro";
  color: #ffffff;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  font-weight: 900; }
  @media screen and (max-width: 767px) {
    .footer__logo {
      width: 50%; } }
  @media screen and (max-width: md) {
    .footer__logo {
      width: 50%; } }
  @media screen and (max-width: 580px) {
    .footer__logo {
      width: 30%; } }
  @media screen and (max-width: 470px) {
    .footer__logo {
      width: 20%; } }

.footer__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .footer__nav {
      width: 50%;
      padding-bottom: 40px; } }
  @media screen and (max-width: md) {
    .footer__nav {
      width: 50%;
      padding-bottom: 40px; } }
  @media screen and (max-width: 580px) {
    .footer__nav {
      width: 70%;
      padding-bottom: 25px; } }
  @media screen and (max-width: 470px) {
    .footer__nav {
      width: 80%; } }

.footer__nav-list {
  margin-right: 40px; }
  .footer__nav-list:nth-of-type(3) {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .footer__nav-list {
      margin-right: 20px; } }
  @media screen and (max-width: 470px) {
    .footer__nav-list {
      margin-right: 10px; } }

.footer__nav-list-item {
  padding: 0px 5px 10px 5px;
  text-align: left; }

.footer__nav-list-item-link {
  font-size: 13px;
  font-family: "Helvetica Bold";
  color: #CBD0D3;
  line-height: 20px;
  display: block; }
  @media screen and (max-width: 767px) {
    .footer__nav-list-item-link {
      line-height: 15px; } }
  @media screen and (max-width: md) {
    .footer__nav-list-item-link {
      line-height: 15px; } }

@media screen and (max-width: 767px) {
  .footer__email-wrap {
    width: 50%; } }

@media screen and (max-width: md) {
  .footer__email-wrap {
    width: 50%; } }

@media screen and (max-width: 580px) {
  .footer__email-wrap {
    width: 70%; } }

@media screen and (max-width: 400px) {
  .footer__email-wrap {
    width: 65%; } }

.footer__email {
  height: 40px;
  width: 260px;
  border: 2px solid #CBD0D3;
  border-radius: 3px;
  background-color: #A6ADB4;
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative; }
  .footer__email::placeholder {
    color: #CBD0D3; }
  @media screen and (max-width: 900px) {
    .footer__email {
      width: 200px; } }
  @media screen and (max-width: 767px) {
    .footer__email {
      width: 284px; } }
  @media screen and (max-width: md) {
    .footer__email {
      width: 284px; } }
  @media screen and (max-width: 470px) {
    .footer__email {
      width: 180px; } }
  @media screen and (max-width: 430px) {
    .footer__email {
      width: 120px; } }

.footer__email-send {
  display: inline-block; }
  .footer__email-send::before {
    content: url("../img/send.png");
    position: absolute;
    right: 20px;
    top: 10px; }

.footer__email-text {
  font-size: 11px;
  font-family: Helvetica;
  color: #CBD0D3;
  line-height: 20px;
  display: block; }

.footer__social {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .footer__social {
      width: 50%;
      justify-content: flex-end;
      margin-top: 50px; } }
  @media screen and (max-width: md) {
    .footer__social {
      width: 50%;
      justify-content: flex-end;
      margin-top: 50px; } }
  @media screen and (max-width: 580px) {
    .footer__social {
      width: 30%; } }
  @media screen and (max-width: 400px) {
    .footer__social {
      width: 35%; } }

.footer__social-link {
  display: block;
  margin-right: 33px; }
  @media screen and (max-width: 900px) {
    .footer__social-link {
      margin-right: 15px; } }
  .footer__social-link:nth-of-type(4) {
    margin-right: 0; }

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.banner {
  display: flex; }
  @media screen and (max-width: 767px) {
    .banner {
      display: block; } }
  @media screen and (max-width: md) {
    .banner {
      display: block; } }

.banner__content-wrap {
  background-image: url("../img/frog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .banner__content-wrap {
      background-image: url("../img/frogT.jpg");
      height: 400px; } }
  @media screen and (max-width: md) {
    .banner__content-wrap {
      background-image: url("../img/frogT.jpg");
      height: 400px; } }

.banner__content {
  max-width: 600px;
  width: 100%;
  margin-left: 80px; }
  @media screen and (max-width: 1300px) {
    .banner__content {
      margin-left: 20px; } }
  @media screen and (max-width: 990px) {
    .banner__content {
      max-width: 500px; } }
  @media screen and (max-width: 576px) {
    .banner__content {
      margin-left: 0;
      width: 90%;
      max-width: 90%; } }
  @media screen and (max-width: sm) {
    .banner__content {
      margin-left: 0;
      width: 90%;
      max-width: 90%; } }

.banner__content-title {
  width: 560px;
  margin-bottom: 70px;
  color: #ffffff;
  position: relative; }
  .banner__content-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -30px;
    background-color: #ffffff;
    opacity: 0.5; }
    @media screen and (max-width: 767px) {
      .banner__content-title::after {
        opacity: 1; } }
    @media screen and (max-width: md) {
      .banner__content-title::after {
        opacity: 1; } }
    @media screen and (max-width: 450px) {
      .banner__content-title::after {
        height: 2px;
        bottom: -17px; } }
  @media screen and (max-width: 1040px) {
    .banner__content-title {
      max-width: 450px; } }
  @media screen and (max-width: 870px) {
    .banner__content-title {
      width: 300px;
      margin-left: 20px; } }
  @media screen and (max-width: 767px) {
    .banner__content-title {
      margin-left: 0;
      width: 100%;
      max-width: 100%; } }
  @media screen and (max-width: md) {
    .banner__content-title {
      margin-left: 0;
      width: 100%;
      max-width: 100%; } }
  @media screen and (max-width: 450px) {
    .banner__content-title {
      max-width: 500px; } }

.banner__content-link {
  display: flex;
  width: 134px;
  height: 40px;
  background-color: #FA6980;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Helvetica Bold";
  color: #ffffff; }
  @media screen and (max-width: 450px) {
    .banner__content-link {
      width: 85px;
      border-radius: 3px;
      height: 30px;
      font-size: 10px; } }

.banner__item-wrap {
  max-width: 600px;
  width: 100%;
  padding-top: 80px; }
  @media screen and (max-width: 1250px) {
    .banner__item-wrap {
      max-width: 400px; } }
  @media screen and (max-width: 1040px) {
    .banner__item-wrap {
      max-width: 350px; } }
  @media screen and (max-width: 860px) {
    .banner__item-wrap {
      max-width: 300px; } }
  @media screen and (max-width: 767px) {
    .banner__item-wrap {
      max-width: 100%;
      padding: 40px 80px 0 80px;
      margin: auto; } }
  @media screen and (max-width: md) {
    .banner__item-wrap {
      max-width: 100%;
      padding: 40px 80px 0 80px;
      margin: auto; } }
  @media screen and (max-width: 600px) {
    .banner__item-wrap {
      padding: 40px 30px 0 30px; } }

.banner__slide {
  max-width: 600px;
  width: 100%;
  padding: 0 60px; }
  @media screen and (max-width: 1250px) {
    .banner__slide {
      max-width: 400px; } }
  @media screen and (max-width: 1040px) {
    .banner__slide {
      max-width: 350px;
      padding: 0 40px; } }
  @media screen and (max-width: 860px) {
    .banner__slide {
      max-width: 300px;
      padding: 0 20px; } }
  @media screen and (max-width: 767px) {
    .banner__slide {
      max-width: 100%;
      padding: 0; } }
  @media screen and (max-width: md) {
    .banner__slide {
      max-width: 100%;
      padding: 0; } }

.banner__slide-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  position: relative; }
  .banner__slide-title-wrap::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -30px;
    background-color: #EBEDED;
    opacity: 0.5; }

.banner__slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center; }

.banner__slider-arrow-left {
  cursor: pointer; }

.banner__slider-arrow-right {
  cursor: pointer;
  margin-left: 40px; }

@media screen and (max-width: 767px) {
  .banner__slide-text-wrap {
    display: flex;
    justify-content: space-between; } }

@media screen and (max-width: md) {
  .banner__slide-text-wrap {
    display: flex;
    justify-content: space-between; } }

@media screen and (max-width: 375px) {
  .banner__slide-text-wrap {
    display: block;
    margin-bottom: 25px; } }

.banner__slide-text {
  margin-bottom: 40px; }
  .banner__slide-text:nth-child(2) {
    margin-bottom: 0; }

.banner__slide-text-time {
  display: flex;
  align-items: center; }

.banner__slide-text-time-img {
  margin-right: 10px; }

.banner__slide-text-time-text,
.banner__slide-text-time-text-tablet {
  font-size: 13px;
  font-family: Helvetica;
  line-height: 26px;
  color: #A6ADB4; }
  @media screen and (max-width: 767px) {
    .banner__slide-text-time-text,
    .banner__slide-text-time-text-tablet {
      display: none; } }
  @media screen and (max-width: md) {
    .banner__slide-text-time-text,
    .banner__slide-text-time-text-tablet {
      display: none; } }

.banner__slide-text-time-text-tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .banner__slide-text-time-text-tablet {
      display: block; } }
  @media screen and (max-width: md) {
    .banner__slide-text-time-text-tablet {
      display: block; } }

.banners__item-story-img--mobile {
  display: none; }
  @media screen and (max-width: 375px) {
    .banners__item-story-img--mobile {
      display: block; } }

.intro {
  padding: 40px 0;
  background-color: #F6F8F9; }

.intro__slider {
  max-width: 1160px;
  width: 100%; }

.intro__slide-title-wrap {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.intro__slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center; }

.intro__slider-arrow-left {
  cursor: pointer; }

.intro__slider-arrow-right {
  cursor: pointer;
  margin-left: 40px; }

.intro__slide-box-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 375px) {
    .intro__slide-box-wrap {
      display: block; } }

.intro__slide-box {
  width: 30%; }
  @media screen and (max-width: 767px) {
    .intro__slide-box:nth-of-type(3) {
      display: none; } }
  @media screen and (max-width: md) {
    .intro__slide-box:nth-of-type(3) {
      display: none; } }
  @media screen and (max-width: 375px) {
    .intro__slide-box:nth-of-type(1) {
      margin-bottom: 25px; } }
  @media screen and (max-width: 860px) {
    .intro__slide-box {
      width: 32%; } }
  @media screen and (max-width: 767px) {
    .intro__slide-box {
      width: 48%; } }
  @media screen and (max-width: md) {
    .intro__slide-box {
      width: 48%; } }
  @media screen and (max-width: 460px) {
    .intro__slide-box {
      width: 49%; } }
  @media screen and (max-width: 375px) {
    .intro__slide-box {
      width: 100%; } }

.intro__slide-box-img {
  width: 100%; }

.intro__slide-box-text {
  background-color: #ffffff;
  padding: 40px; }
  @media screen and (max-width: 1060px) {
    .intro__slide-box-text {
      padding: 20px; } }
  @media screen and (max-width: 1060px) {
    .intro__slide-box-text {
      padding: 10px; } }
  @media screen and (max-width: 767px) {
    .intro__slide-box-text {
      padding: 40px 30px; } }
  @media screen and (max-width: md) {
    .intro__slide-box-text {
      padding: 40px 30px; } }
  @media screen and (max-width: 552px) {
    .intro__slide-box-text {
      padding: 25px 10px; } }

.intro__slide-box-time {
  display: flex;
  align-items: center; }

.intro__slide-box-time-img {
  margin-right: 10px; }

.intro__slide-box-time-text {
  font-size: 13px;
  font-family: Helvetica;
  line-height: 26px;
  color: #A6ADB4; }

.gallery {
  padding: 40px 0;
  background-color: #F6F8F9; }
  @media screen and (max-width: 767px) {
    .gallery {
      padding-bottom: 40px;
      padding-top: 0px; } }
  @media screen and (max-width: md) {
    .gallery {
      padding-bottom: 40px;
      padding-top: 0px; } }

.gallery__slider {
  max-width: 1160px;
  width: 100%; }

.gallery__slide-title-wrap {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.gallery__slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center; }

.gallery__slider-arrow-left {
  cursor: pointer; }

.gallery__slider-arrow-right {
  cursor: pointer;
  margin-left: 40px; }

.gallery__slide-box-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .gallery__slide-box-wrap {
      display: block; } }
  @media screen and (max-width: md) {
    .gallery__slide-box-wrap {
      display: block; } }

.gallery__slide-box-left {
  max-width: 760px;
  width: 65%; }
  @media screen and (max-width: 1100px) {
    .gallery__slide-box-left {
      width: 63%; } }
  @media screen and (max-width: 767px) {
    .gallery__slide-box-left {
      display: block;
      width: 100%;
      margin: auto; } }
  @media screen and (max-width: md) {
    .gallery__slide-box-left {
      display: block;
      width: 100%;
      margin: auto; } }

.gallery__slide-box-left--top {
  background-image: url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 100%;
  max-height: 430px;
  display: flex;
  height: 100%;
  align-items: start;
  padding: 40px 40px 40px 40px;
  margin-bottom: 40px; }
  @media screen and (max-width: 880px) {
    .gallery__slide-box-left--top {
      max-height: 400px; } }
  @media screen and (max-width: 810px) {
    .gallery__slide-box-left--top {
      max-height: 380px; } }
  @media screen and (max-width: 767px) {
    .gallery__slide-box-left--top {
      background-image: url("../img/bridgeT.jpg");
      max-height: 460px;
      padding: 40px 30px 40px 40px; } }
  @media screen and (max-width: md) {
    .gallery__slide-box-left--top {
      background-image: url("../img/bridgeT.jpg");
      max-height: 460px;
      padding: 40px 30px 40px 40px; } }
  @media screen and (max-width: 375px) {
    .gallery__slide-box-left--top {
      background-image: url("../img/bridgeM.png");
      max-height: 300px; } }

.gallery__slide-box-left--bottom {
  background-image: url("../img/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 100%;
  max-height: 430px;
  display: flex;
  height: 100%;
  align-items: start;
  padding: 40px 40px 40px 40px; }
  @media screen and (max-width: 880px) {
    .gallery__slide-box-left--bottom {
      max-height: 400px; } }
  @media screen and (max-width: 810px) {
    .gallery__slide-box-left--bottom {
      max-height: 380px; } }
  @media screen and (max-width: 767px) {
    .gallery__slide-box-left--bottom {
      background-image: url("../img/forestT.jpg");
      max-height: 460px;
      margin-bottom: 40px;
      padding: 40px 30px 40px 40px; } }
  @media screen and (max-width: md) {
    .gallery__slide-box-left--bottom {
      background-image: url("../img/forestT.jpg");
      max-height: 460px;
      margin-bottom: 40px;
      padding: 40px 30px 40px 40px; } }
  @media screen and (max-width: 375px) {
    .gallery__slide-box-left--bottom {
      background-image: url("../img/forestM.png");
      max-height: 300px; } }

.gallery__slide-box-left-item-indicate {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Helvetica Bold";
  color: #ffffff;
  display: block;
  margin-bottom: 225px; }
  @media screen and (max-width: 375px) {
    .gallery__slide-box-left-item-indicate {
      margin-bottom: 55px; } }

.gallery__slide-box--text {
  letter-spacing: -0.8px; }
  @media screen and (max-width: 767px) {
    .gallery__slide-box--text {
      display: inline; } }
  @media screen and (max-width: md) {
    .gallery__slide-box--text {
      display: inline; } }

.gallery__slide-box-left-item-time {
  display: flex;
  align-items: center;
  margin-top: 26px; }

.gallery__slide-box-left-item-time-img {
  margin-right: 10px; }

.gallery__slide-box-left-item-time-text {
  font-size: 13px;
  font-family: Helvetica;
  line-height: 26px;
  color: #CBD0D3; }

.gallery__slide-box-right {
  max-width: 360px;
  width: 35%; }
  @media screen and (max-width: 767px) {
    .gallery__slide-box-right {
      display: flex;
      width: 100%;
      max-width: 100%;
      justify-content: space-between; } }
  @media screen and (max-width: md) {
    .gallery__slide-box-right {
      display: flex;
      width: 100%;
      max-width: 100%;
      justify-content: space-between; } }
  @media screen and (max-width: 375px) {
    .gallery__slide-box-right {
      display: block; } }

.gallery__slide-box-right-item {
  padding-bottom: 28px; }
  @media screen and (max-width: 767px) {
    .gallery__slide-box-right-item {
      width: 48%;
      padding-bottom: 40px; } }
  @media screen and (max-width: md) {
    .gallery__slide-box-right-item {
      width: 48%;
      padding-bottom: 40px; } }
  @media screen and (max-width: 375px) {
    .gallery__slide-box-right-item {
      width: 100%; } }
  .gallery__slide-box-right-item:nth-of-type(3) {
    padding-bottom: 0; }
    @media screen and (max-width: 767px) {
      .gallery__slide-box-right-item:nth-of-type(3) {
        display: none; } }
    @media screen and (max-width: md) {
      .gallery__slide-box-right-item:nth-of-type(3) {
        display: none; } }
    @media screen and (max-width: 375px) {
      .gallery__slide-box-right-item:nth-of-type(3) {
        display: block; } }

.gallery__slide-box-right-item-img {
  width: 100%; }

.gallery__slide-box-right-item-text {
  padding: 10px 20px 0px 20px; }
  @media screen and (max-width: 1060px) {
    .gallery__slide-box-right-item-text {
      padding: 30px 20px 0px 20px; } }
  @media screen and (max-width: 767px) {
    .gallery__slide-box-right-item-text {
      padding: 25px 20px 0px 20px; } }
  @media screen and (max-width: md) {
    .gallery__slide-box-right-item-text {
      padding: 25px 20px 0px 20px; } }
  @media screen and (max-width: 470px) {
    .gallery__slide-box-right-item-text {
      padding: 20px 5px 0px 5px; } }

.gallery__slide-box-right-item-text-title {
  font-size: 16px;
  line-height: 26px;
  display: block;
  font-family: "Acumin Pro";
  color: #202124;
  font-weight: 900;
  margin-bottom: 5px; }

.gallery__slide-box-right-item-text-time {
  display: flex;
  align-items: center; }

.gallery__slide-box-right-item-text-time-img {
  margin-right: 10px; }

.gallery__slide-box-right-item-text-time-link {
  font-size: 13px;
  font-family: Helvetica;
  line-height: 26px;
  color: #A6ADB4; }
  @media screen and (max-width: 470px) {
    .gallery__slide-box-right-item-text-time-link {
      font-size: 11px; } }
  .gallery__slide-box-right-item-text-time-link a {
    text-decoration: underline;
    font-size: 13px;
    font-family: Helvetica;
    line-height: 26px;
    color: #A6ADB4; }
    @media screen and (max-width: 470px) {
      .gallery__slide-box-right-item-text-time-link a {
        font-size: 11px; } }

.banners {
  background-image: url("../img/heros.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .banners {
      height: 400px; } }
  @media screen and (max-width: md) {
    .banners {
      height: 400px; } }
  @media screen and (max-width: 375px) {
    .banners {
      height: 388px; } }

.banners__container {
  margin: 0;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .banners__container {
      margin: 0 15px; } }
  @media screen and (max-width: md) {
    .banners__container {
      margin: 0 15px; } }

.banners__wrap {
  margin-top: 135px; }
  @media screen and (max-width: 767px) {
    .banners__wrap {
      margin-top: 60px; } }
  @media screen and (max-width: md) {
    .banners__wrap {
      margin-top: 60px; } }

@media screen and (max-width: 375px) {
  .banners__title {
    display: none; } }

.banners__title--mobile {
  display: none; }
  @media screen and (max-width: 375px) {
    .banners__title--mobile {
      display: block;
      margin-bottom: 60px; } }

.banners__link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px; }

.banners__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 55px; }
  .banners__link:nth-of-type(2) {
    margin-right: 0; }
  @media screen and (max-width: 375px) {
    .banners__link {
      margin-right: 15px; } }

.banners__link-img {
  margin-right: 10px; }

.banners__link-text {
  font-size: 16px;
  line-height: 20px;
  font-family: Helvetica;
  color: #ffffff;
  display: block;
  text-transform: uppercase; }
  @media screen and (max-width: 375px) {
    .banners__link-text {
      font-size: 13px; } }

.banners__item-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 40px 0 50px; }
  @media screen and (max-width: 767px) {
    .banners__item-wrap {
      padding: 0; } }
  @media screen and (max-width: md) {
    .banners__item-wrap {
      padding: 0; } }

.banners__item-profile {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 490px) {
    .banners__item-profile {
      display: block; } }

.banners__item-profile-img {
  display: block;
  margin-right: 15px; }
  @media screen and (max-width: 375px) {
    .banners__item-profile-img {
      display: none; } }

.banners__item-profile-img--mobile {
  display: none; }
  @media screen and (max-width: 375px) {
    .banners__item-profile-img--mobile {
      display: block; } }

.banners__item-profile-name {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: Helvetica; }
  @media screen and (max-width: 375px) {
    .banners__item-profile-name {
      display: none; } }

.banners__item-story {
  padding: 30px;
  border: 2px dashed #ffffff;
  border-radius: 5px; }
  @media screen and (max-width: 767px) {
    .banners__item-story {
      padding: 15px;
      width: 250px; } }
  @media screen and (max-width: md) {
    .banners__item-story {
      padding: 15px;
      width: 250px; } }
  @media screen and (max-width: 560px) {
    .banners__item-story {
      width: 190px; } }
  @media screen and (max-width: 375px) {
    .banners__item-story {
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 125px; } }

.banners__item-story-title {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #FA6980;
  font-family: Helvetica;
  text-transform: uppercase; }

.banners__item-story-text {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-family: Helvetica; }
  @media screen and (max-width: 767px) {
    .banners__item-story-text {
      display: none; } }
  @media screen and (max-width: md) {
    .banners__item-story-text {
      display: none; } }

.banners__item-story-text--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .banners__item-story-text--tablet {
      display: block; } }
  @media screen and (max-width: md) {
    .banners__item-story-text--tablet {
      display: block; } }
  @media screen and (max-width: 375px) {
    .banners__item-story-text--tablet {
      display: none; } }

.story {
  padding: 80px 0; }
  @media screen and (max-width: 375px) {
    .story {
      padding: 40px 0; } }

.story__wrap {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .story__wrap {
      display: block; } }
  @media screen and (max-width: md) {
    .story__wrap {
      display: block; } }

.story__column {
  padding-right: 40px;
  border-right: 1px solid #A6ADB4; }
  @media screen and (max-width: 1060px) {
    .story__column {
      width: 30%; } }
  @media screen and (max-width: 767px) {
    .story__column {
      width: 100%;
      display: flex;
      padding-right: 0;
      border-right: none;
      justify-content: space-between; } }
  @media screen and (max-width: md) {
    .story__column {
      width: 100%;
      display: flex;
      padding-right: 0;
      border-right: none;
      justify-content: space-between; } }
  @media screen and (max-width: 375px) {
    .story__column {
      display: block;
      margin-bottom: 50px; } }

.story__column-title {
  font-size: 32px;
  line-height: 42px;
  font-family: "Acumin Pro";
  color: #202124;
  padding-bottom: 75px; }
  @media screen and (max-width: 870px) {
    .story__column-title {
      font-size: 27px;
      line-height: 33px; } }
  @media screen and (max-width: 800px) {
    .story__column-title {
      padding-bottom: 45px; } }
  @media screen and (max-width: 767px) {
    .story__column-title {
      display: none; } }
  @media screen and (max-width: md) {
    .story__column-title {
      display: none; } }
  @media screen and (max-width: 375px) {
    .story__column-title {
      display: block; } }

.story__column-title--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .story__column-title--tablet {
      display: block;
      font-size: 27px;
      line-height: 33px;
      font-family: "Acumin Pro";
      color: #202124;
      padding-bottom: 45px; } }
  @media screen and (max-width: md) {
    .story__column-title--tablet {
      display: block;
      font-size: 27px;
      line-height: 33px;
      font-family: "Acumin Pro";
      color: #202124;
      padding-bottom: 45px; } }

.story__column-text {
  font-size: 14px;
  line-height: 26px;
  font-family: Helvetica;
  color: #A6ADB4;
  padding-bottom: 40px; }
  .story__column-text:nth-of-type(2) {
    padding-bottom: 65px;
    border-bottom: 1px solid #CBD0D3; }
  @media screen and (max-width: 1060px) {
    .story__column-text {
      line-height: 16px; }
      .story__column-text br {
        display: none; } }
  @media screen and (max-width: 767px) {
    .story__column-text {
      display: none; } }
  @media screen and (max-width: md) {
    .story__column-text {
      display: none; } }
  @media screen and (max-width: 375px) {
    .story__column-text {
      display: block;
      line-height: 22px; } }

.story__column-text--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .story__column-text--tablet {
      display: block;
      font-size: 14px;
      line-height: 22px;
      font-family: Helvetica;
      color: #A6ADB4;
      padding-bottom: 40px; }
      .story__column-text--tablet:nth-of-type(2) {
        padding-bottom: 65px;
        border-bottom: 1px solid #CBD0D3; }
      .story__column-text--tablet br {
        display: none; } }
  @media screen and (max-width: md) {
    .story__column-text--tablet {
      display: block;
      font-size: 14px;
      line-height: 22px;
      font-family: Helvetica;
      color: #A6ADB4;
      padding-bottom: 40px; }
      .story__column-text--tablet:nth-of-type(2) {
        padding-bottom: 65px;
        border-bottom: 1px solid #CBD0D3; }
      .story__column-text--tablet br {
        display: none; } }

.story__column-subtitle {
  font-size: 16px;
  line-height: 26px;
  font-family: "Acumin Pro";
  color: #202124;
  margin-top: 45px;
  display: block;
  font-weight: 900; }
  @media screen and (max-width: 767px) {
    .story__column-subtitle {
      display: none; } }
  @media screen and (max-width: md) {
    .story__column-subtitle {
      display: none; } }

.story__column-subtitle--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .story__column-subtitle--tablet {
      display: block;
      font-size: 16px;
      line-height: 26px;
      font-family: "Acumin Pro";
      color: #202124;
      padding-top: 45px;
      display: block;
      font-weight: 900;
      border-top: 1px solid #A6ADB4; } }
  @media screen and (max-width: md) {
    .story__column-subtitle--tablet {
      display: block;
      font-size: 16px;
      line-height: 26px;
      font-family: "Acumin Pro";
      color: #202124;
      padding-top: 45px;
      display: block;
      font-weight: 900;
      border-top: 1px solid #A6ADB4; } }

.story__column-time {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .story__column-time {
      display: none; } }
  @media screen and (max-width: md) {
    .story__column-time {
      display: none; } }

.story__column-time--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .story__column-time--tablet {
      display: block;
      display: flex;
      align-items: center; } }
  @media screen and (max-width: md) {
    .story__column-time--tablet {
      display: block;
      display: flex;
      align-items: center; } }

.story__column-time-img {
  display: block;
  margin-right: 10px; }
  @media screen and (max-width: 767px) {
    .story__column-time-img {
      display: none; } }
  @media screen and (max-width: md) {
    .story__column-time-img {
      display: none; } }
  @media screen and (max-width: 375px) {
    .story__column-time-img {
      display: block; } }

.story__column-time-img--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .story__column-time-img--tablet {
      display: block;
      margin-right: 10px; } }
  @media screen and (max-width: md) {
    .story__column-time-img--tablet {
      display: block;
      margin-right: 10px; } }

.story__column-time-text {
  font-size: 13px;
  line-height: 26px;
  font-family: Helvetica;
  color: #A6ADB4; }
  @media screen and (max-width: 767px) {
    .story__column-time-text {
      display: none; } }
  @media screen and (max-width: md) {
    .story__column-time-text {
      display: none; } }
  @media screen and (max-width: 375px) {
    .story__column-time-text {
      display: block; } }
  .story__column-time-text a {
    font-size: 13px;
    line-height: 26px;
    font-family: Helvetica;
    color: #A6ADB4;
    text-decoration: underline; }
    @media screen and (max-width: 767px) {
      .story__column-time-text a {
        display: block; } }
    @media screen and (max-width: md) {
      .story__column-time-text a {
        display: block; } }
    @media screen and (max-width: 375px) {
      .story__column-time-text a {
        display: none; } }

.story__column-time-text--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .story__column-time-text--tablet {
      display: block;
      font-size: 13px;
      line-height: 26px;
      font-family: Helvetica;
      color: #A6ADB4; } }
  @media screen and (max-width: md) {
    .story__column-time-text--tablet {
      display: block;
      font-size: 13px;
      line-height: 26px;
      font-family: Helvetica;
      color: #A6ADB4; } }
  .story__column-time-text--tablet a {
    font-size: 13px;
    line-height: 26px;
    font-family: Helvetica;
    color: #A6ADB4;
    text-decoration: underline; }

@media screen and (max-width: 767px) {
  .story__column-first {
    width: 48%; } }

@media screen and (max-width: md) {
  .story__column-first {
    width: 48%; } }

@media screen and (max-width: 375px) {
  .story__column-first {
    display: none; } }

@media screen and (max-width: 767px) {
  .story__column-second {
    width: 48%; } }

@media screen and (max-width: md) {
  .story__column-second {
    width: 48%; } }

@media screen and (max-width: 375px) {
  .story__column-second {
    display: none; } }

@media screen and (max-width: 1060px) {
  .story__person-box-wrap {
    padding-left: 30px;
    width: 70%; } }

@media screen and (max-width: 767px) {
  .story__person-box-wrap {
    width: 100%;
    padding-left: 0; } }

@media screen and (max-width: md) {
  .story__person-box-wrap {
    width: 100%;
    padding-left: 0; } }

.story__person-box {
  margin-bottom: 40px; }

.story__person-box-title {
  display: flex;
  align-items: center; }

.story__person-box-title-img {
  display: block;
  margin-right: 20px; }

.story__person-box-title-text {
  font-size: 24px;
  line-height: 42px;
  font-family: Helvetica;
  color: #202124; }

.story__person-box-text {
  font-size: 16px;
  line-height: 30px;
  font-family: Helvetica;
  color: #202124;
  padding-bottom: 20px;
  letter-spacing: -0.8px; }
  @media screen and (max-width: 1060px) {
    .story__person-box-text br {
      display: none; } }
  @media screen and (max-width: 375px) {
    .story__person-box-text {
      display: none; } }

.story__person-box-text--mobile {
  display: none; }
  @media screen and (max-width: 375px) {
    .story__person-box-text--mobile {
      display: block;
      font-size: 16px;
      line-height: 30px;
      font-family: Helvetica;
      color: #202124;
      padding-bottom: 20px;
      letter-spacing: -0.8px; } }

.story__person-box-time {
  display: flex;
  align-items: center; }

.story__person-box-time-img {
  display: block;
  margin-right: 7px; }

.story__person-box-time-text {
  font-size: 13px;
  line-height: 26px;
  font-family: Helvetica;
  color: #A6ADB4; }

@media screen and (max-width: 767px) {
  .remove {
    display: none; } }

@media screen and (max-width: md) {
  .remove {
    display: none; } }

@media screen and (max-width: 375px) {
  .wind {
    display: none; } }

.story__person-box-time-text--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .story__person-box-time-text--tablet {
      display: block;
      font-size: 13px;
      line-height: 26px;
      font-family: Helvetica;
      color: #A6ADB4; } }
  @media screen and (max-width: md) {
    .story__person-box-time-text--tablet {
      display: block;
      font-size: 13px;
      line-height: 26px;
      font-family: Helvetica;
      color: #A6ADB4; } }
  @media screen and (max-width: 375px) {
    .story__person-box-time-text--tablet {
      display: none; } }

.story__person-box-time-text--mobile {
  display: none; }
  @media screen and (max-width: 375px) {
    .story__person-box-time-text--mobile {
      display: block;
      display: block;
      font-size: 13px;
      line-height: 26px;
      font-family: Helvetica;
      color: #A6ADB4; } }

.story__person-video-img {
  background-image: url("../img/forests.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; }
  @media screen and (max-width: 375px) {
    .story__person-video-img {
      background-image: url("../img/forestMOB.png");
      height: 180px; } }

.boxes {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #F6F8F9; }

.boxes__link-wrap {
  margin-bottom: 43px; }

.boxes__link-item {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.boxes__link-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.boxes__link-item-img {
  margin-right: 30px; }

.boxes__link-item-link {
  font-size: 11px;
  font-family: Helvetica;
  line-height: 20px;
  color: #202124;
  display: block;
  text-transform: uppercase; }

.boxes__link-item-link--active {
  color: #A6ADB4; }

.boxes__link-item-dash {
  margin: 0 17px; }

.boxes__link-item-filter-wrap {
  border: 2px solid #EBEDED;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

.boxes__box-wrap {
  display: flex;
  align-items: center;
  background-color: #ffffff; }
  @media screen and (max-width: 767px) {
    .boxes__box-wrap {
      display: block; } }
  @media screen and (max-width: md) {
    .boxes__box-wrap {
      display: block; } }

.boxes__box-left {
  background-image: url("../img/desertT.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 580px;
  width: 100%;
  height: 558px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .boxes__box-left {
      max-width: 100%;
      height: 400px; } }
  @media screen and (max-width: md) {
    .boxes__box-left {
      max-width: 100%;
      height: 400px; } }
  @media screen and (max-width: 375px) {
    .boxes__box-left {
      background-image: url("../img/desertMOB.png");
      height: 388px; } }

.boxes__box-left-content-title {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: .4px;
  position: relative;
  margin-bottom: 43px; }
  .boxes__box-left-content-title::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #FA6980;
    left: 44%;
    bottom: -33%; }

.boxes__box-left-content-text {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 65px; }
  @media screen and (max-width: 767px) {
    .boxes__box-left-content-text {
      display: none; } }
  @media screen and (max-width: md) {
    .boxes__box-left-content-text {
      display: none; } }

.boxes__box-left-content-text--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .boxes__box-left-content-text--tablet {
      display: block;
      color: #ffffff;
      font-family: Helvetica;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 65px; } }
  @media screen and (max-width: md) {
    .boxes__box-left-content-text--tablet {
      display: block;
      color: #ffffff;
      font-family: Helvetica;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 65px; } }

.boxes__box-right {
  max-width: 580px;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .boxes__box-right {
      max-width: 100%;
      padding: 80px 0; } }
  @media screen and (max-width: md) {
    .boxes__box-right {
      max-width: 100%;
      padding: 80px 0; } }

.boxes__box-right-wrap {
  max-width: 360px;
  width: 100%;
  margin: auto; }

.boxes__box-right-text {
  display: block;
  color: #202124;
  font-family: "Acumin Pro";
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 10px; }

#select {
  display: block;
  color: #A6ADB4;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  border: 1px solid #CBD0D3;
  border-radius: 3px;
  width: 100%;
  max-width: 360px;
  padding: 10px 10px;
  margin-bottom: 40px; }

.boxes__box-right-select-text {
  display: block;
  border: 1px solid #CBD0D3;
  border-radius: 3px;
  width: 100%;
  max-width: 360px;
  padding: 10px 10px; }

.boxes__box-right-enter-text {
  border: 1px solid #CBD0D3;
  border-radius: 3px;
  width: 100%;
  max-width: 360px;
  padding: 10px 10px;
  margin-bottom: 40px; }

.boxes__box-right-search {
  display: block;
  width: 134px;
  height: 40px;
  color: #ffffff;
  font-family: "Acumin Pro";
  font-size: 11px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  background-color: #FA6980;
  border: 1px solid #FA6980;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer; }

.basic {
  background-color: #F6F8F9; }

.basic__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 2px solid #EBEDED;
  border-top: 2px solid #EBEDED;
  padding: 40px 0; }
  @media screen and (max-width: 767px) {
    .basic__wrap {
      flex-wrap: wrap; } }
  @media screen and (max-width: md) {
    .basic__wrap {
      flex-wrap: wrap; } }

@media screen and (max-width: 1060px) {
  .basic__title-wrap {
    padding-right: 20px;
    width: 30%; } }

@media screen and (max-width: 767px) {
  .basic__title-wrap {
    width: 100%; } }

@media screen and (max-width: md) {
  .basic__title-wrap {
    width: 100%; } }

.basic__title {
  display: block;
  color: #202124;
  font-family: "Acumin Pro";
  font-size: 24px;
  font-weight: 600;
  line-height: 34px; }
  @media screen and (max-width: 1060px) {
    .basic__title {
      font-size: 20px; } }
  @media screen and (max-width: 767px) {
    .basic__title {
      display: none; } }
  @media screen and (max-width: md) {
    .basic__title {
      display: none; } }

.basic__title--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .basic__title--tablet {
      display: block;
      display: block;
      color: #202124;
      font-family: "Acumin Pro";
      font-size: 20px;
      font-weight: 600;
      line-height: 34px; } }
  @media screen and (max-width: md) {
    .basic__title--tablet {
      display: block;
      display: block;
      color: #202124;
      font-family: "Acumin Pro";
      font-size: 20px;
      font-weight: 600;
      line-height: 34px; } }
  @media screen and (max-width: 375px) {
    .basic__title--tablet {
      margin-bottom: 30px; } }

.basic__text {
  color: #A6ADB4;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 26px;
  display: block; }
  @media screen and (max-width: 1060px) {
    .basic__text br {
      display: none; } }

@media screen and (max-width: 1060px) {
  .uniq {
    width: 30%; } }

@media screen and (max-width: 767px) {
  .uniq {
    width: 48%; } }

@media screen and (max-width: md) {
  .uniq {
    width: 48%; } }

@media screen and (max-width: 375px) {
  .uniq {
    width: 100%;
    margin-bottom: 30px; } }

@media screen and (max-width: 1060px) {
  .basic__text-wrap {
    width: 30%; } }

@media screen and (max-width: 767px) {
  .basic__text-wrap {
    width: 48%; } }

@media screen and (max-width: md) {
  .basic__text-wrap {
    width: 48%; } }

@media screen and (max-width: 375px) {
  .basic__text-wrap {
    width: 100%; } }

.basic__text-time {
  display: flex;
  align-items: center;
  margin-top: 17px; }

.basic__text-time-img {
  margin-right: 10px; }

.basic__text-time-text {
  display: block;
  color: #A6ADB4;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 26px; }

.ratings {
  padding-top: 40px;
  background-color: #F6F8F9; }

.ratings__wrap {
  padding-bottom: 40px;
  border-bottom: 2px solid #EBEDED; }

.ratings__img-wrap {
  margin-bottom: 40px; }

.ratings__img {
  width: 100%; }
  @media screen and (max-width: 767px) {
    .ratings__img {
      display: none; } }
  @media screen and (max-width: md) {
    .ratings__img {
      display: none; } }

.ratings__img--tablet {
  display: none; }
  @media screen and (max-width: 767px) {
    .ratings__img--tablet {
      display: block;
      width: 100%; } }
  @media screen and (max-width: md) {
    .ratings__img--tablet {
      display: block;
      width: 100%; } }
  @media screen and (max-width: 375px) {
    .ratings__img--tablet {
      display: none; } }

.ratings__img--mobile {
  display: none; }
  @media screen and (max-width: 375px) {
    .ratings__img--mobile {
      display: block;
      width: 100%; } }

.ratings__text-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .ratings__text-wrap {
      display: block; } }
  @media screen and (max-width: md) {
    .ratings__text-wrap {
      display: block; } }

@media screen and (max-width: 1060px) {
  .ratings__text-content {
    width: 70%; } }

@media screen and (max-width: 767px) {
  .ratings__text-content {
    width: 100%; } }

@media screen and (max-width: md) {
  .ratings__text-content {
    width: 100%; } }

@media screen and (max-width: 1060px) {
  .ratings__text-content br {
    display: none; } }

.ratings__text-content-text {
  font-size: 14px;
  font-family: Helvetica;
  line-height: 26px;
  color: #A6ADB4;
  letter-spacing: -0.8px; }
  .ratings__text-content-text:nth-of-type(1) {
    margin-bottom: 65px; }
    @media screen and (max-width: 767px) {
      .ratings__text-content-text:nth-of-type(1) {
        margin-bottom: 35px; } }
    @media screen and (max-width: md) {
      .ratings__text-content-text:nth-of-type(1) {
        margin-bottom: 35px; } }

@media screen and (max-width: 1060px) {
  .ratings__text-item {
    width: 30%;
    padding-left: 15px; } }

@media screen and (max-width: 767px) {
  .ratings__text-item {
    width: 100%;
    padding-left: 0;
    margin-top: 35px; } }

@media screen and (max-width: md) {
  .ratings__text-item {
    width: 100%;
    padding-left: 0;
    margin-top: 35px; } }

.ratings__text-item-text {
  font-size: 16px;
  font-family: Helvetica;
  line-height: 30px;
  color: #202124; }
  @media screen and (max-width: 1060px) {
    .ratings__text-item-text br {
      display: none; } }

.pagination {
  padding: 40px 0 100px;
  background-color: #F6F8F9; }
  @media screen and (max-width: 375px) {
    .pagination {
      padding: 40px 0; } }

.pagination__wrap {
  display: flex;
  align-items: center;
  justify-content: center; }

.pagination__num {
  display: block;
  color: #A6ADB4;
  font-family: "Helvetica Bold";
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  padding-right: 24px;
  cursor: pointer;
  position: relative; }
  .pagination__num:nth-of-type(1)::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 1px;
    background-color: #FA6980;
    left: 0;
    bottom: -10px; }

.pagination__num--active {
  color: #202124; }
