/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer{
    padding: 60px 0;
    background-color: $grey;
    @media screen and (max-width: 375px) {
        display: none;
    }
}
.footer__wrap{
    display: flex;
    justify-content: space-between;
    align-items: start;
    @include mq(md){
        flex-wrap: wrap;
    }
}
.footer__logo{
    font-size: 13px;
    font-family: $font-fifth;
    color: $white;
    line-height: 20px;
    text-transform: uppercase;
    display: block;
    font-weight: 900;
    @include mq(md){
        width: 50%;
    }
    @media screen and (max-width: 580px) {
        width: 30%;
    }
    @media screen and (max-width: 470px) {
        width: 20%;
    }
}
.footer__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include mq(md){
        width: 50%;
        padding-bottom: 40px;
    }
    @media screen and (max-width: 580px) {
        width: 70%;
        padding-bottom: 25px;
    }
    @media screen and (max-width: 470px) {
        width: 80%;
    }
}
.footer__nav-list{
    margin-right: 40px;
    &:nth-of-type(3){
        margin-right: 0;
    }
    @media screen and (max-width: 900px) {
        margin-right: 20px;
    }
    @media screen and (max-width: 470px) {
        margin-right: 10px;
    }
}
.footer__nav-list-item{
    padding: 0px 5px 10px 5px;
    text-align: left;
}
.footer__nav-list-item-link{
    font-size: 13px;
    font-family: $font-fourth;
    color: $grey-light;
    line-height: 20px;
    display: block;
    @include mq(md){
        line-height: 15px;
    }
}
.footer__email-wrap{
    @include mq(md){
        width: 50%;
    }
    @media screen and (max-width: 580px) {
        width: 70%;
    }
    @media screen and (max-width: 400px) {
        width: 65%;
    }
}
.footer__email{
    height: 40px;
    width: 260px;
    border: 2px solid $grey-light;
    border-radius: 3px;
    background-color: $grey;
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
    
    &::placeholder{
        color: $grey-light;
    }
    @media screen and (max-width: 900px) {
        width: 200px;
    }
    @include mq(md){
        width: 284px;
    }
    @media screen and (max-width: 470px) {
        width: 180px;
    }
    @media screen and (max-width: 430px) {
        width: 120px;
    }
}
.footer__email-send{
    display: inline-block;
    &::before{
        content: url("../img/send.png");
        position: absolute;
        right: 20px;
        top: 10px;
    }
}
.footer__email-text{
    font-size: 11px;
    font-family: $font-main;
    color: $grey-light;
    line-height: 20px;
    display: block;
}
.footer__social{
    display: flex;
    align-items: center;
    @include mq(md){
        width: 50%;
        justify-content: flex-end;
        margin-top: 50px;
    }
    @media screen and (max-width: 580px) {
        width: 30%;
    }
    @media screen and (max-width: 400px) {
        width: 35%;
    }
}
.footer__social-link{
    display: block;
    margin-right: 33px;
    @media screen and (max-width: 900px) {
        margin-right: 15px;
    }
    
    &:nth-of-type(4){
        margin-right: 0;
    }
}   