/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px 10px 15px;
    background-color: $silver-light;
}

.header__logo{
    font-family: $font-main;
    font-size: 13px;
    color: $red;
    text-transform: uppercase;
    line-height: 20px;
}
.nav__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav__list-item{
    padding: 0 13px;
    @media screen and (max-width: 450px) {
        padding: 0 5px;
    }
}
.nav__list-item-link{
    font-family: $font-fourth;
    font-size: 11px;
    color: $grey;
    text-transform: uppercase;
    line-height: 20px;
}
.nav__list-item-link--active{
    color: $black;
}
