.banners{
    background-image: url("../img/heros.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(md){
        height: 400px;
    }
    @media screen and (max-width: 375px) {
        height: 388px;
    }
}
.banners__container{
    margin: 0;
    width: 100%;
    @include mq(md){
        margin: 0 15px;
    }
}
.banners__wrap{
    margin-top: 135px;
    @include mq(md){
        margin-top: 60px;
    }
}
.banners__title{
    @media screen and (max-width: 375px) {
        display: none;
    }
}
.banners__title--mobile{
    display: none;
    @media screen and (max-width: 375px) {
        display: block;
        margin-bottom: 60px;
    }
}
.banners__link-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.banners__link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 55px;
    &:nth-of-type(2){
        margin-right: 0;
    }
    @media screen and (max-width: 375px) {
        margin-right: 15px;
    }
}
.banners__link-img{
    margin-right: 10px;
}
.banners__link-text{
    font-size: 16px;
    line-height: 20px;
    font-family: $font-main;
    color: $white;
    display: block;
    text-transform: uppercase;
    @media screen and (max-width: 375px) {
        font-size: 13px;
    }
}
.banners__item-wrap{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 40px 0 50px;
    @include mq(md){
        padding: 0;
    }
}
.banners__item-profile{
    display: flex;
    align-items: center;
    @media screen and (max-width: 490px) {
        display: block;
    }
}
.banners__item-profile-img{
    display: block;
    margin-right: 15px;
    @media screen and (max-width: 375px) {
        display: none;
    }
}
.banners__item-profile-img--mobile{
    display: none;
    @media screen and (max-width: 375px) {
        display: block;
    }
}
.banners__item-profile-name{
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    font-family: $font-main;
    @media screen and (max-width: 375px) {
        display: none;
    }
}
.banners__item-story{
    padding: 30px;
    border: 2px dashed $white;
    border-radius: 5px;
    @include mq(md){
        padding: 15px;
        width: 250px;
    }
    @media screen and (max-width: 560px) {
        width: 190px;
    }
    @media screen and (max-width: 375px) {
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 125px;
    }
}
.banners__item-story-title{
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: $red-light;
    font-family: $font-main;
    text-transform: uppercase;
}
.banners__item-story-text{
    font-size: 16px;
    line-height: 26px;
    color: $white;
    font-family: $font-main;
    @include mq(md){
        display: none;
    }
}
.banners__item-story-text--tablet{
    display: none;
    @include mq(md){
        display: block;
    }
    @media screen and (max-width: 375px) {
        display: none;
    }
}