.banner{
    display: flex;
    @include mq(md){
        display: block;
    }
}
.banner__content-wrap{
    background-image: url("../img/frog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(md){
        background-image: url("../img/frogT.jpg");
        height: 400px;
    }
}
.banner__content{
    max-width: 600px;
    width: 100%;
    margin-left: 80px;
    @media screen and (max-width: 1300px) {
        margin-left: 20px;
    }
    @media screen and (max-width: 990px) {
        max-width: 500px;
    }
    @include mq(sm){
        margin-left: 0;
        width: 90%;
        max-width: 90%;
    }
}
.banner__content-title{
    width: 560px;
    margin-bottom: 70px;
    color: $white;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        bottom: -30px;
        background-color: $white;
        opacity: 0.5;
        @include mq(md){
            opacity: 1;
        }
        @media screen and (max-width: 450px) {
            height: 2px;
            bottom: -17px;
        }
    }
    @media screen and (max-width: 1040px) {
        max-width: 450px;
    }
    @media screen and (max-width: 870px) {
        width: 300px;
        margin-left: 20px;
    }
    @include mq(md){
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }
    @media screen and (max-width: 450px) {
        max-width: 500px;
    }
}
.banner__content-link{
    display: flex;
    width: 134px;
    height: 40px;
    background-color: $red-light;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: $font-fourth;
    color: $white;
    @media screen and (max-width: 450px) {
        width: 85px;
        border-radius: 3px;
        height: 30px;
        font-size: 10px;
    }
}
.banner__item-wrap{
    max-width: 600px;
    width: 100%;
    padding-top: 80px;
    @media screen and (max-width: 1250px) {
        max-width: 400px;
    }
    @media screen and (max-width: 1040px) {
        max-width: 350px;
    }
    @media screen and (max-width: 860px) {
        max-width: 300px;
    }
    @include mq(md){
        max-width: 100%;
        padding: 40px 80px 0 80px;
        margin: auto;
    }
    @media screen and (max-width: 600px) {
        padding: 40px 30px 0 30px;
    }
}
.banner__slide{
    max-width: 600px;
    width: 100%;
    padding: 0 60px;
    @media screen and (max-width: 1250px) {
        max-width: 400px;
    }
    @media screen and (max-width: 1040px) {
        max-width: 350px;
        padding: 0 40px;
    }
    @media screen and (max-width: 860px) {
        max-width: 300px;
        padding: 0 20px;
    }
    @include mq(md){
        max-width: 100%;
        padding: 0;
    }
}
.banner__slide-title-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        bottom: -30px;
        background-color: $silver;
        opacity: 0.5;
    }
}
.banner__slider-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__slider-arrow-left{
    cursor: pointer;
}
.banner__slider-arrow-right{
    cursor: pointer;
    margin-left: 40px;
}
.banner__slide-text-wrap{
    @include mq(md){
        display: flex;
        justify-content: space-between;
    }
    @media screen and (max-width: 375px) {
        display: block;
        margin-bottom: 25px;
    }
}
.banner__slide-text{
    margin-bottom: 40px;
    &:nth-child(2){
        margin-bottom: 0;
    }
}
.banner__slide-text-time{
    display: flex;
    align-items: center;

}
.banner__slide-text-time-img{
    margin-right: 10px;
}
.banner__slide-text-time-text,
.banner__slide-text-time-text-tablet{
    font-size: 13px;
    font-family: $font-main;
    line-height: 26px;
    color: $grey;
    @include mq(md){
        display: none;
    }
}
.banner__slide-text-time-text-tablet{
    display: none;
    @include mq(md){
        display: block;
    }
}
.banners__item-story-img--mobile{
    display: none;
    @media screen and (max-width: 375px) {
        display: block;
    }
}