.basic{
    background-color: $silver-light;
}
.basic__wrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid $silver;
    border-top: 2px solid $silver;
    padding: 40px 0;
    @include mq(md){
        flex-wrap: wrap;
	}
}
.basic__title-wrap{
    @media screen and (max-width: 1060px) {
        padding-right: 20px;
        width: 30%;
    }
    @include mq(md){
        width: 100%;
	}
}
.basic__title{
    display: block;
    color: $black;
	font-family: $font-fifth;
	font-size: 24px;
	font-weight: 600;
    line-height: 34px;
    @media screen and (max-width: 1060px) {
        font-size: 20px;

    }
    @include mq(md){
        display: none;
	}
}
.basic__title--tablet{
    display: none;
    @include mq(md){
        display: block;
        display: block;
        color: $black;
        font-family: $font-fifth;
        font-size: 20px;
        font-weight: 600;
        line-height: 34px;
    }
    @media screen and (max-width: 375px) {
        margin-bottom: 30px;
    }
}
.basic__text{
    color: $grey;
	font-family: $font-main;
	font-size: 14px;
    line-height: 26px;
    display: block;
    
    br{
        @media screen and (max-width: 1060px) {
            display: none;
        }
    }
}
.uniq{
    @media screen and (max-width: 1060px) {
        width: 30%;
    }
    @include mq(md){
        width: 48%;
    }
    @media screen and (max-width: 375px) {
        width: 100%;
        margin-bottom: 30px;
    }
}
.basic__text-wrap{
    @media screen and (max-width: 1060px) {
        width: 30%;
    }
    @include mq(md){
        width: 48%;
    }
    @media screen and (max-width: 375px) {
        width: 100%;
    }
}
.basic__text-time{
    display: flex;
    align-items: center;
    margin-top: 17px;
}
.basic__text-time-img{
    margin-right: 10px;
}
.basic__text-time-text{
    display: block;
    color: $grey;
	font-family: $font-main;
	font-size: 14px;
	line-height: 26px;
}