.boxes{
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: $silver-light;
}
.boxes__link-wrap{
    margin-bottom: 43px;
}
.boxes__link-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes__link-item-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes__link-item-img{
    margin-right: 30px;
}
.boxes__link-item-link{
    font-size: 11px;
    font-family: $font-main;
    line-height: 20px;
    color: $black;
    display: block;
    text-transform: uppercase;
}
.boxes__link-item-link--active{
    color: $grey;
}
.boxes__link-item-dash{
    margin: 0 17px;
}
.boxes__link-item-filter-wrap{
    border: 2px solid $silver;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes__box-wrap{
    display: flex;
    align-items: center;
    background-color: $white;
    @include mq(md){
		display: block;
	}
}
.boxes__box-left{
    background-image: url("../img/desertT.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 580px;
    width: 100%;
    height: 558px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include mq(md){
        max-width: 100%;
        height: 400px;
    }
    @media screen and (max-width: 375px) {
        background-image: url("../img/desertMOB.png");
        height: 388px;
    }
}
.boxes__box-left-content-title{
    color: $white;
	font-family: $font-main;
	font-size: 32px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
    letter-spacing: .4px;
    position: relative;
    margin-bottom: 43px;
    &::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: $red-light;
        left: 44%;
        bottom: -33%;
    }
}
.boxes__box-left-content-text{
    color: $white;
	font-family: $font-main;
	font-size: 16px;
	font-weight: 600;
    line-height: 26px;
    margin-bottom: 65px;
    @include mq(md){
        display: none;
	}
}
.boxes__box-left-content-text--tablet{
    display: none;
    @include mq(md){
        display: block;
        color: $white;
        font-family: $font-main;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 65px;
	}
}
.boxes__box-right{
    max-width: 580px;
    width: 100%;
    @include mq(md){
        max-width: 100%;
        padding: 80px 0;
	}
}
.boxes__box-right-wrap{
    max-width: 360px;
    width: 100%;
    margin: auto;
}
.boxes__box-right-text{
    display: block;
    color: $black;
	font-family: $font-fifth;
	font-size: 13px;
	font-weight: 600;
    line-height: 20px;
    padding-bottom: 10px;
}
#select{
    display: block;
    color: $grey;
	font-family: $font-main;
	font-size: 13px;
	font-weight: 300;
    line-height: 20px;
    border: 1px solid $grey-light;
    border-radius: 3px;
    width: 100%;
    max-width: 360px;
    padding: 10px 10px;
    margin-bottom: 40px;
}
.boxes__box-right-select-text{
    display: block;
    border: 1px solid $grey-light;
    border-radius: 3px;
    width: 100%;
    max-width: 360px;
    padding: 10px 10px;
}
.boxes__box-right-enter-text{
    border: 1px solid $grey-light;
    border-radius: 3px;
    width: 100%;
    max-width: 360px;
    padding: 10px 10px;
    margin-bottom: 40px;
}
.boxes__box-right-search{
    display: block;
    width: 134px;
    height: 40px;
    color: $white;
	font-family: $font-fifth;
	font-size: 11px;
	font-weight: 300;
    line-height: 20px;
    text-align: center;
    background-color: $red-light;
    border: 1px solid $red-light;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}