.gallery{
    padding: 40px 0;
    background-color: $silver-light;
    @include mq(md){
        padding-bottom: 40px;
        padding-top: 0px;
    }
}
.gallery__slider{
    max-width: 1160px;
    width: 100%;
}
.gallery__slide-title-wrap{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gallery__slider-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery__slider-arrow-left{
    cursor: pointer;
}
.gallery__slider-arrow-right{
    cursor: pointer;
    margin-left: 40px;
}
.gallery__slide-box-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq(md){
        display: block;
        
    }
}
.gallery__slide-box-left{
    max-width: 760px;
    width: 65%;
    @media screen and (max-width: 1100px) {
        width: 63%;
    }
    @include mq(md){
        display: block;
        width: 100%;
        margin: auto;
    }
}
.gallery__slide-box-left--top{
    background-image: url("../img/bridge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    max-height: 430px;
    display: flex;
    height: 100%;
    align-items: start;
    padding: 40px 40px 40px 40px;
    margin-bottom: 40px;
    @media screen and (max-width: 880px) {
        max-height: 400px;
    }
    @media screen and (max-width: 810px) {
        max-height: 380px;
    }
    @include mq(md){
        background-image: url("../img/bridgeT.jpg");
        max-height: 460px;
        padding: 40px 30px 40px 40px;
    }
    @media screen and (max-width: 375px) {
        background-image: url("../img/bridgeM.png");
        max-height: 300px;
    }
}
.gallery__slide-box-left--bottom{
    background-image: url("../img/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    max-height: 430px;
    display: flex;
    height: 100%;
    align-items: start;
    padding: 40px 40px 40px 40px;
    @media screen and (max-width: 880px) {
        max-height: 400px;
    }
    @media screen and (max-width: 810px) {
        max-height: 380px;
    }
    @include mq(md){
        background-image: url("../img/forestT.jpg");
        max-height: 460px;
        margin-bottom: 40px;
        padding: 40px 30px 40px 40px;
    }
    @media screen and (max-width: 375px) {
        background-image: url("../img/forestM.png");
        max-height: 300px;
    }
}
.gallery__slide-box-left-item-indicate{
    font-size: 16px;
    text-transform: uppercase;
    font-family: $font-fourth;
    color: $white;
    display: block;
    margin-bottom: 225px;
    @media screen and (max-width: 375px) {
        margin-bottom: 55px;
    }
}
.gallery__slide-box--text{
    letter-spacing: -0.8px;
    @include mq(md){
        display: inline;
    }
}
.gallery__slide-box-left-item-time{
    display: flex;
    align-items: center;
    margin-top: 26px;
}
.gallery__slide-box-left-item-time-img{
    margin-right: 10px;
}
.gallery__slide-box-left-item-time-text{
    font-size: 13px;
    font-family: $font-main;
    line-height: 26px;
    color: $grey-light;
}
.gallery__slide-box-right{
    max-width: 360px;
    width: 35%;
    @include mq(md){
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
    }
    @media screen and (max-width: 375px) {
        display: block; 
    }
}
.gallery__slide-box-right-item{
    padding-bottom: 28px;
    @include mq(md){
        width: 48%;
        padding-bottom: 40px;
    }
    @media screen and (max-width: 375px) {
        width: 100%;
    }
    &:nth-of-type(3){
        padding-bottom: 0;
        @include mq(md){
            display: none;
        }
        @media screen and (max-width: 375px) {
            display: block; 
        }
    }
    
}
.gallery__slide-box-right-item-img{
    width: 100%;
}
.gallery__slide-box-right-item-text{
    padding: 10px 20px 0px 20px;
    @media screen and (max-width: 1060px) {
        padding: 30px 20px 0px 20px;
    }
    @include mq(md){
        padding: 25px 20px 0px 20px;
    }
    @media screen and (max-width: 470px) {
        padding: 20px 5px 0px 5px;
    }
}
.gallery__slide-box-right-item-text-title{
    font-size: 16px;
    line-height: 26px;
    display: block;
    font-family: $font-fifth;
    color: $black;
    font-weight: 900;
    margin-bottom: 5px;
}
.gallery__slide-box-right-item-text-time{
    display: flex;
    align-items: center;
}
.gallery__slide-box-right-item-text-time-img{
    margin-right: 10px;
}
.gallery__slide-box-right-item-text-time-link{
    font-size: 13px;
    font-family: $font-main;
    line-height: 26px;
    color: $grey;
    @media screen and (max-width: 470px) {
        font-size: 11px;
    }
    a{
        text-decoration: underline;
        font-size: 13px;
        font-family: $font-main;
        line-height: 26px;
        color: $grey;
        @media screen and (max-width: 470px) {
            font-size: 11px;
        }
    }
}