.intro{
    padding: 40px 0;
    background-color: $silver-light;
}
.intro__slider{
    max-width: 1160px;
    width: 100%;
}
.intro__slide-title-wrap{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro__slider-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro__slider-arrow-left{
    cursor: pointer;
}
.intro__slider-arrow-right{
    cursor: pointer;
    margin-left: 40px;
}
.intro__slide-box-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 375px) {
        display: block;
    }
}
.intro__slide-box{
    width: 30%;
    &:nth-of-type(3){
        @include mq(md){
			display: none;
		}
    }
    &:nth-of-type(1){
        @media screen and (max-width: 375px) {
            margin-bottom: 25px;
        }
    }
    @media screen and (max-width: 860px) {
        width: 32%;
    }
    @include mq(md){
        width: 48%;
    }
    @media screen and (max-width: 460px) {
        width: 49%;
    }
    @media screen and (max-width: 375px) {
        width: 100%;
    }
}
.intro__slide-box-img{
    width: 100%;
}

.intro__slide-box-text{
    background-color: $white;
    padding: 40px;
    @media screen and (max-width: 1060px) {
        padding: 20px;
    }
    @media screen and (max-width: 1060px) {
        padding: 10px;
    }
    @include mq(md){
        padding: 40px 30px;
    }
    @media screen and (max-width: 552px) {
        padding: 25px 10px;
    }
}

.intro__slide-box-time{
    display: flex;
    align-items: center;
}
.intro__slide-box-time-img{
    margin-right: 10px;
}
.intro__slide-box-time-text{
    font-size: 13px;
    font-family: $font-main;
    line-height: 26px;
    color: $grey;
}