.pagination{
    padding: 40px 0 100px;
    background-color: $silver-light;
    @media screen and (max-width: 375px) {
        padding: 40px 0 ;
    }
}
.pagination__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination__num{
    display: block;
    color: $grey;
	font-family: $font-fourth;
	font-size: 11px;
	font-weight: 700;
    line-height: 20px;
    padding-right: 24px;
    cursor: pointer;
    position: relative;
    &:nth-of-type(1){
        &::before{
            content: '';
            position: absolute;
            width: 12px;
            height: 1px;
            background-color: $red-light;
            left: 0;
            bottom: -10px;
        }
    }
}
.pagination__num--active{
    color: $black;
}