.ratings{
    padding-top: 40px;
    background-color: $silver-light;
    
}
.ratings__wrap{
    padding-bottom: 40px;
    border-bottom: 2px solid $silver;
}
.ratings__img-wrap{
    margin-bottom: 40px;
}
.ratings__img{
    width: 100%;
    @include mq(md){
        display: none;
	}
}
.ratings__img--tablet{
    display: none;
    @include mq(md){
        display: block;
        width: 100%;
    }
    @media screen and (max-width: 375px) {
        display: none;
    }
}
.ratings__img--mobile{
    display: none;
    @media screen and (max-width: 375px) {
        display: block;
        width: 100%;
    }
}
.ratings__text-wrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include mq(md){
        display: block;
	}
}
.ratings__text-content{
    @media screen and (max-width: 1060px) {
        width: 70%;
    }
    @include mq(md){
        width: 100%;
	}
    br{
        @media screen and (max-width: 1060px) {
            display: none;
        }
    }
}
.ratings__text-content-text{
    font-size: 14px;
    font-family: $font-main;
    line-height: 26px;
    color: $grey;
    letter-spacing: -0.8px;
    &:nth-of-type(1){
        margin-bottom: 65px;
        @include mq(md){
            margin-bottom: 35px;
        }
    }
}
.ratings__text-item{
    @media screen and (max-width: 1060px) {
        width: 30%;
        padding-left: 15px;
    }
    @include mq(md){
        width: 100%;
        padding-left: 0;
        margin-top: 35px;
	}
}
.ratings__text-item-text{
    font-size: 16px;
    font-family: $font-main;
    line-height: 30px;
    color: $black;
    
    br{
        @media screen and (max-width: 1060px) {
            display: none;
        }
    }
}