.story{
    padding: 80px 0;
    @media screen and (max-width: 375px) {
        padding: 40px 0;
    }
}
.story__wrap{
    display: flex;
    justify-content: space-between;
    @include mq(md){
        display: block;
	}
}
.story__column{
    padding-right: 40px;
    border-right: 1px solid $grey;
    @media screen and (max-width: 1060px) {
        width: 30%;
    }
    @include mq(md){
        width: 100%;
        display: flex;
        padding-right: 0;
        border-right: none;
        justify-content: space-between;
    }
    @media screen and (max-width: 375px) {
        display: block;
        margin-bottom: 50px;
    }
}
.story__column-title{
    font-size: 32px;
    line-height: 42px;
    font-family: $font-fifth;
    color: $black;
    padding-bottom: 75px;
    @media screen and (max-width: 870px) {
        font-size: 27px;
        line-height: 33px;
    }
    @media screen and (max-width: 800px) {
        padding-bottom: 45px;
    }
    @include mq(md){
        display: none;
    }
    @media screen and (max-width: 375px) {
        display: block;
    }
}
.story__column-title--tablet{
    display: none;
    @include mq(md){
        display: block;
        font-size: 27px;
        line-height: 33px;
        font-family: $font-fifth;
        color: $black;
        padding-bottom: 45px;
	}
}
.story__column-text{
    font-size: 14px;
    line-height: 26px;
    font-family: $font-main;
    color: $grey;
    padding-bottom: 40px;
    &:nth-of-type(2){
        padding-bottom: 65px;
        border-bottom: 1px solid $grey-light;
    }
    @media screen and (max-width: 1060px) {
        line-height: 16px;
        br{
            display: none;
        }
    }
    @include mq(md){
        display: none;
    }
    @media screen and (max-width: 375px) {
        display: block;
        line-height: 22px;
    }
}
.story__column-text--tablet{
    display: none;
    @include mq(md){
        display: block;
        font-size: 14px;
        line-height: 22px;
        font-family: $font-main;
        color: $grey;
        padding-bottom: 40px;
        &:nth-of-type(2){
            padding-bottom: 65px;
            border-bottom: 1px solid $grey-light;
        }
        br{
            display: none;
        }
	}
}
.story__column-subtitle{
    font-size: 16px;
    line-height: 26px;
    font-family: $font-fifth;
    color: $black;
    margin-top: 45px;
    display: block;
    font-weight: 900;
    @include mq(md){
        display: none;
    }
}
.story__column-subtitle--tablet{
    display: none;
    @include mq(md){
        display: block;
        font-size: 16px;
        line-height: 26px;
        font-family: $font-fifth;
        color: $black;
        padding-top: 45px;
        display: block;
        font-weight: 900;
        border-top: 1px solid $grey;
	}
}
.story__column-time{
    display: flex;
    align-items: center;
    @include mq(md){
        display: none;
    }
}
.story__column-time--tablet{
    display: none;
    @include mq(md){
        display: block;
        display: flex;
        align-items: center;
	}
}
.story__column-time-img{
    display: block;
    margin-right: 10px;
    @include mq(md){
        display: none;
    }
    @media screen and (max-width: 375px) {
        display: block;
    }
}
.story__column-time-img--tablet{
    display: none;
    @include mq(md){
        display: block;
        margin-right: 10px;
	}
}
.story__column-time-text{
    font-size: 13px;
    line-height: 26px;
    font-family: $font-main;
    color: $grey;
    @include mq(md){
        display: none;
    }
    @media screen and (max-width: 375px) {
        display: block;
    }
    a{
        font-size: 13px;
        line-height: 26px;
        font-family: $font-main;
        color: $grey;
        text-decoration: underline;
        @include mq(md){
            display: block;
        }
        @media screen and (max-width: 375px) {
            display: none;
        }
    }
}
.story__column-time-text--tablet{
    display: none;
    @include mq(md){
        display: block;
        font-size: 13px;
        line-height: 26px;
        font-family: $font-main;
        color: $grey;
    }
    a{
        font-size: 13px;
        line-height: 26px;
        font-family: $font-main;
        color: $grey;
        text-decoration: underline;
    }
}
.story__column-first{
    @include mq(md){
        width: 48%;
    }
    @media screen and (max-width: 375px) {
        display: none;
    }
}
.story__column-second{
    @include mq(md){
        width: 48%;
    }
    @media screen and (max-width: 375px) {
        display: none;
    }
}


.story__person-box-wrap{
    @media screen and (max-width: 1060px) {
        padding-left: 30px;
        width: 70%;
    }
    @include mq(md){
        width: 100%;
        padding-left: 0;
    }
}
.story__person-box{
    margin-bottom: 40px;
}

.story__person-box-title{
    display: flex;
    align-items: center;
}
.story__person-box-title-img{
    display: block;
    margin-right: 20px;
}
.story__person-box-title-text{
    font-size: 24px;
    line-height: 42px;
    font-family: $font-main;
    color: $black;
}
.story__person-box-text{
    font-size: 16px;
    line-height: 30px;
    font-family: $font-main;
    color: $black;
    padding-bottom: 20px;
    letter-spacing: -0.8px;
    @media screen and (max-width: 1060px) {
        br{
            display: none;
        }
    }
    @media screen and (max-width: 375px) {
        display: none;
    }
}
.story__person-box-text--mobile{
    display: none;
    @media screen and (max-width: 375px) {
        display: block;
        font-size: 16px;
        line-height: 30px;
        font-family: $font-main;
        color: $black;
        padding-bottom: 20px;
        letter-spacing: -0.8px;
    }
}
.story__person-box-time{
    display: flex;
    align-items: center;
}
.story__person-box-time-img{
    display: block;
    margin-right: 7px;
}
.story__person-box-time-text{
    font-size: 13px;
    line-height: 26px;
    font-family: $font-main;
    color: $grey;
    
}
.remove{
    @include mq(md){
        display: none;
    }
}
.wind{
    @media screen and (max-width: 375px) {
        display: none;
    }
}
.story__person-box-time-text--tablet{
    display: none;
    @include mq(md){
        display: block;
        font-size: 13px;
        line-height: 26px;
        font-family: $font-main;
        color: $grey;
    }
    @media screen and (max-width: 375px) {
        display: none;
    }
}
.story__person-box-time-text--mobile{
    display: none;
    @media screen and (max-width: 375px) {
        display: block;
        display: block;
        font-size: 13px;
        line-height: 26px;
        font-family: $font-main;
        color: $grey;
    }
}
.story__person-video-img{
    background-image: url("../img/forests.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    @media screen and (max-width: 375px) {
        background-image: url("../img/forestMOB.png");
        height: 180px;
    }
}
