// Fonts
 $font-main: Helvetica;
 //$font-second: "Helvetica Light", Arial, sans-serif;
 $font-third: "Helvetica Oblique";
 $font-fourth:  "Helvetica Bold";
 $font-fifth:  "Acumin Pro";
// Colors
$white: #ffffff;
$black: #202124;
$black-light:#343638;
$red: #ff4d4d;
$red-light:#FA6980;
$green: #52E5BA;
$blue: #72ACFF;
$yellow: #FFC96C;
$grey: #A6ADB4;
$silver: #EBEDED;
$silver-light: #F6F8F9;
$grey-light: #CBD0D3;

// Transitions
$dur: 350ms;
$ease: ease;