html {
	box-sizing: border-box;
}


*,
*::before,
*::after {
	box-sizing: inherit;
	outline: none;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1160px;
	margin: auto;
 	@media screen and (max-width: 1200px) {
        margin: 0 15px;
	}
	@include mq(md){
		margin: 0 80px;
	}
	@media screen and (max-width: 600px) {
        margin: 0 30px;
	}
}