

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('truetype');
    font-weight: 500;
    font-style: normal; 
}
@font-face {
    font-family: "Helvetica Oblique";
    src: url('../fonts/Helvetica-Oblique.ttf') format('truetype');
    font-weight: 500;
    font-style: normal; 
}

@font-face {
    font-family: "Helvetica Bold";
    src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal; 
}

@font-face {
    font-family:"Acumin Pro";;
    src: url('../fonts/TitilliumWeb-1eq2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal; 
}




