.page-title{
	font-size: 50px;
	line-height: 58px;
	color: $white;
	font-family: $font-fourth;
	text-transform: uppercase;
	text-align: center;
	@media screen and (max-width: 1100px) {
		font-size: 40px;
		line-height: 50px;
	}
	@media screen and (max-width: 860px) {
		font-size: 35px;
    	line-height: 46px;
	}
	@include mq(md){
        font-size: 28px;
    	line-height: 36px;
	}
    
}

.section-title {
	color: $black;
	font-family: $font-main;
	font-size: 24px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
	letter-spacing: .4px;
	@media screen and (max-width: 450px) {
        font-size: 20px;
    }
}
.section-content{
	span{
		font-size: 24px;
		font-family: $font-fourth;
		line-height: 34px;
		color: $white;
		display: block;
		@media screen and (max-width: 830px) {
			font-size: 21px;
		}
		@include mq(md){
			font-size: 24px;
		}
		@media screen and (max-width: 450px) {
			font-size: 20px;
			line-height: 30px;
        }
	}
	p{
		font-size: 16px;
		font-family: $font-main;
		line-height: 26px;
		color: $white;
		@media screen and (max-width: 830px) {
			font-size: 14px;
			letter-spacing: -.4px;
		}
		@include mq(md){
			font-size: 16px;
			display: inline;
		}
		@media screen and (max-width: 450px) {
			font-size: 14px;
			letter-spacing: -0.8px;
			line-height: 21px;
        }
		.gallery__slide-box-tablet{
			display: none;
			@include mq(md){
				display: inline;
			}
		}
	}
}
.entry-content{
	span{
		font-size: 16px;
		font-family: $font-fourth;
		line-height: 20px;
		color: $red-light;
		display: block;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	h5{
		font-size: 16px;
		font-family: $font-fourth;
		line-height: 20px;
		color: $black;
		margin-bottom: 15px;
		@include mq(md){
			display: none;
		}
	}
	.intro__slide-box--title{
		@include mq(md){
			display: block;
		}
		@media screen and (max-width: 460px) {
			font-size: 14px;
			line-height: 20px;
		}
	}
	p{
		font-size: 16px;
		font-family: $font-fifth;
		line-height: 26px;
		color: $grey;
		margin-bottom: 25px;
		@include mq(md){
			display: none;
		}
		@media screen and (max-width: 550px) {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 18px;
		}
	}
	.title-tablet{
		display: none;
		@include mq(md){
			display: block;
		}
	}
	.text-tablet{
		display: none;
		@include mq(md){
			display: block;
		}
	}
	.intro__slide-box-text-sentenc{
		font-size: 13px;
		@media screen and (max-width: 810px) {
			font-size: 12px;
		}
		@include mq(md){
			display: none;
		}
	}
}
